

.bg {
		background: url("images/shelves.jpg");
		width: 100%;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
	}
.button_style {
		position: absolute;
		width: 270px;
		height: 70px;
		padding: 0;
		font-size: 28px;
		color: white;
		text-align: center;
		background: #3242d0;
		border: 0;
		border-bottom: 6px solid #222222;
		border-top: 6px solid #9797d0;
		border-left: 6px solid #9797d0;
		border-right: 6px solid #222222;
		cursor: pointer;
		left: 370px;
		top: 210px;
	}
.top_left_text {
	position: absolute;
	text-align: left;
	color: cornflowerblue;
	font-size: 400%;
	margin-left: 0px;
	left:28.3%;
	top:0%;
	}
.login {
	position: absolute;
	text-align: left;
	left: 360px;
	top: 130px;

}